<launch>
  <arg name="model" default="$(find deflecomp_description)/urdf/simple6r.urdf" />
  <arg name="urdf_path" default="$(arg model)" />
  <arg name="rviz_config" default="$(find deflecomp_description)/rviz/deflecomp.rviz" />
  <arg name="viewer" default="false" />
  <arg name="imu_config" default="$(find deflecomp_ros)/config/imu_frames.yaml" />
  <arg name="particle_scan_enabled" default="false" />
  <arg name="publish_imu_static_tf" default="false" />
  <arg name="imu_static_parent_prefix" default="equil" />
  <arg name="imu_static_child_prefix" default="" />
  <arg name="enable_probtf_runtime" default="true" />
  <arg name="probtf_topic" default="/deflecomp/probtf" />
  <arg name="probtf_static_topic" default="/deflecomp/probtf_static" />
  <arg name="probtf_marker_topic" default="/deflecomp/probtf_point_moments" />
  <arg name="probtf_tf_child_prefixes" default="ref,cmd,equil" />
  <arg name="probtf_tf_import_rate_hz" default="50.0" />
  <arg name="probtf_marker_rate_hz" default="50.0" />

  <include file="$(find deflecomp_ros)/launch/deflecomp.launch">
    <arg name="model" value="$(arg urdf_path)" />
    <arg name="imu_config" value="$(arg imu_config)" />
    <arg name="particle_scan_enabled" value="$(arg particle_scan_enabled)" />
  </include>

  <include file="$(find deflecomp_sim)/launch/sim.launch">
    <arg name="model" value="$(arg urdf_path)" />
    <arg name="imu_config" value="$(arg imu_config)" />
  </include>

  <group ns="ref">
    <param name="robot_description" textfile="$(arg urdf_path)" />
    <node if="$(arg viewer)" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" name="angle_controller" output="screen">
      <param name="rate" value="50" />
      <remap from="joint_states" to="/ref/joint_states" />
    </node>
    <node unless="$(arg viewer)" pkg="joint_state_publisher" type="joint_state_publisher" name="angle_controller" output="screen">
      <param name="rate" value="50" />
      <remap from="joint_states" to="/ref/joint_states" />
    </node>
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_ref" output="screen">
      <param name="tf_prefix" value="ref" />
      <param name="ignore_timestamp" value="true" />
      <remap from="joint_states" to="/ref/joint_states" />
    </node>
  </group>

  <group ns="cmd">
    <param name="robot_description" textfile="$(arg urdf_path)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_cmd" output="screen">
      <param name="tf_prefix" value="cmd" />
      <param name="ignore_timestamp" value="true" />
      <remap from="joint_states" to="/cmd/joint_states" />
    </node>
  </group>

  <group ns="equil">
    <param name="robot_description" textfile="$(arg urdf_path)" />
    <node pkg="robot_state_publisher" type="robot_state_publisher" name="rsp_equil" output="screen">
      <param name="tf_prefix" value="equil" />
      <param name="ignore_timestamp" value="true" />
      <remap from="joint_states" to="/equil/joint_states" />
    </node>
  </group>

  <node
    pkg="tf2_ros"
    type="static_transform_publisher"
    name="st_ref_to_base"
    args="0 0 0 0 0 0 base_link ref/base_link" />

  <node
    pkg="tf2_ros"
    type="static_transform_publisher"
    name="st_cmd_to_base"
    args="0 0 0 0 0 0 base_link cmd/base_link" />

  <node
    pkg="tf2_ros"
    type="static_transform_publisher"
    name="st_equil_to_base"
    args="0 0 0 0 0 0 base_link equil/base_link" />

  <node if="$(arg viewer)" pkg="rviz" type="rviz" name="rviz" args="-d $(arg rviz_config)" required="false" />

  <node
    if="$(arg publish_imu_static_tf)"
    pkg="deflecomp_ros"
    type="static_imu_tf_publisher.py"
    name="deflecomp_static_imu_tf_publisher"
    output="screen">
    <rosparam command="load" file="$(arg imu_config)" />
    <param name="parent_prefix" value="$(arg imu_static_parent_prefix)" />
    <param name="child_prefix" value="$(arg imu_static_child_prefix)" />
  </node>

  <group if="$(arg enable_probtf_runtime)" ns="deflecomp">
    <include file="$(find probtf_core)/launch/probtf_bridge.launch">
      <arg name="import_tf" value="true" />
      <arg name="export_tf" value="false" />
      <arg name="tf_export_policy" value="exact_only" />
      <arg name="probtf_topic" value="$(arg probtf_topic)" />
      <arg name="probtf_static_topic" value="$(arg probtf_static_topic)" />
      <arg name="tf_import_child_prefixes" value="$(arg probtf_tf_child_prefixes)" />
      <arg name="tf_import_max_rate_hz" value="$(arg probtf_tf_import_rate_hz)" />
    </include>

    <node
      pkg="deflecomp_ros"
      type="probtf_point_moments_node.py"
      name="probtf_point_moments"
      output="screen">
      <rosparam command="load" file="$(find deflecomp_ros)/config/probtf_runtime.yaml" />
      <param name="urdf_path" value="$(arg urdf_path)" />
      <param name="dynamic_topic" value="$(arg probtf_topic)" />
      <param name="static_topic" value="$(arg probtf_static_topic)" />
      <param name="marker_topic" value="$(arg probtf_marker_topic)" />
      <param name="lookup_rate_hz" value="$(arg probtf_marker_rate_hz)" />
    </node>
  </group>

  <include if="$(arg viewer)" file="$(find deflecomp_debug)/launch/kp_plotter.launch" />
</launch>
